.Rproj.user
.Rhistory
.RData
.Ruserdata
/001-monte-carlo-sampling-from-a-beta-posterior.nb.html
/002-monte-carlo-wright-fisher-exercise.nb.html
/003-monte-carlo-to-evaluate-an-integral.nb.html
/004-markov-chain-wright-fisher-exercise.nb.html
/005-markov-chain-bouncing-blob-exercise.nb.html
/006-key.nb.html
/006-markov-chain-biased-random-walk.nb.html
/007-metropolis-hastings-inbreeding.nb.html
/001-key.nb.html
/002-key.nb.html
/003-key.nb.html
/004-key.nb.html
/005-key.nb.html
/r_simplemix_tuesday_afternoon-KEY.nb.html
/r_simplemix_tuesday_afternoon-SKELETON.nb.html
/007-key.nb.html
/r_simplemix_Gibbs-1-KEY.nb.html
/r_simplemix_Gibbs-1-SKELETON.nb.html
/monte-carlo-sampling-from-a-beta-posterior.nb.html
/markov-chain-bouncing-blob-exercise.nb.html
/monte-carlo-sampling-from-a-beta-posterior-key.nb.html
/003-monte-carlo-to-evaluate-an-integral-key.nb.html
/006-markov-chain-biased-random-walk-key.nb.html
/006-markov-chain-biased-random-walk.html
/007-metropolis-hastings-inbreeding-key.nb.html
